* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    width:100%;
    overflow-x:hidden;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.btn {
    background-color: #ea5b58;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

/* HEADER */

header {
    width: 100%;
    /* position: relative; */
}

header a, .services a {
    transition: .2s;
}

header a:hover, .services a:hover, .btn:hover {
    opacity: .8;
}

header a, .services a {
    color: #fff;
}

.navbar {
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8rem;
    width: 100vw;
    background-color: #0d0b11;
    padding: 0 10%;
    z-index: 2;
}



.navbar__logo {
    font-size: 2rem;
}

.navbar__logo--first {
    font-weight: 700;
}

.navbar__navigation-bar ul {
    display: flex;
}

.navbar__navigation-bar ul li {
    padding-left: 5rem;
    font-size: 1.4rem;
}

.hero {
    background-color: #161828;
    display: flex;
    justify-content: space-between;
    padding: 8rem 10% 0 10%;
    color: #fff;
    background-image: url("./img/bg_img_slider.png");
    background-repeat: no-repeat;
    background-position: 22rem 11.5rem;
    background-size: 60% 100%;
}

.hero__content {
    /* position: absolute; */
    margin: 12rem 0;
    flex-basis: 40%;
}

.hero__content__heading {
    font-size: 3.6rem;
    margin-bottom: 4rem;
}

.hero__content__subheading {
    font-size: 2.4rem;
    margin-bottom: 8rem;    
}

.btn--hero {
    padding: 2rem 5rem;
    font-size: 1.3rem;
}

.hero__image-container {
    /* width: 40%; */
    display: flex;
    align-items: center;
    flex-basis: 48rem;
    transform: translateY(1rem);
}

.hero__image-img {
    width: 100%;
    height: auto;
}


/* BuRGER-MENU */

  .btn-menu{
      position: relative;
      cursor: pointer;
      width: 4rem;
      height: 3.3rem;
      display:none;
      z-index: 100;
  }
  
  .layer{
      position: absolute;
      display: block;
      background: #fff;
      width: 5rem;
      height: .5rem;
      margin-bottom: 1rem;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
      border-radius: 3px;
  }
  
  .layer:nth-child(1){
      top: 0;
  }
  .layer:nth-child(2){
      top: 1.5rem;
      
  }
  .layer:nth-child(3){
      top: 3rem;
  }
  
  .btn-menu.active span:nth-child(1){
      animation: topLine 1s forwards;
  }
  .btn-menu.active span:nth-child(2){
      animation: centerLine 1s forwards;
  }
  .btn-menu.active span:nth-child(3){
      animation: bottomLine 1s forwards;
  }
  .btn-menu.no-active span:nth-child(1){
      animation: topLine1 1s forwards;
  }
  .btn-menu.no-active span:nth-child(2){
      opacity: 0;
      animation: centerLine1 1s forwards;
  }
  .btn-menu.no-active span:nth-child(3){
      animation: bottomLine1 1s forwards;
  }
  .no-animation{
      animation: none !important;
      opacity: 1!important;
  }
  
  @keyframes centerLine{
      0%{
          transform: scale(1);
          opacity: 1;
      }
      100%{
          transform: scale(0);
          opacity: 0;
      }
  }
  @keyframes topLine{
      50%{
          top: 1.5rem;
          transform: rotate(0deg);
      }
      100%{
          top: 1.5rem;
          transform: rotate(45deg);
      }
  }
  @keyframes bottomLine{
      50%{
          top: 1.5rem;
          transform: rotate(0deg);
      }
      100%{
          top: 1.5rem;
          transform: rotate(135deg);
      }
  }
  
  @keyframes centerLine1{
      50%{
          transform: scale(0);
          opacity: 0;
      }
      100%{
          transform: scale(1);
          opacity: 1;
      }
  }
  @keyframes topLine1{
      0%{
          top: 1.5rem;
          transform: rotate(45deg);
      }
      50%{
          top: 1.5rem;
          transform: rotate(0deg);
      }
  }
  @keyframes bottomLine1{
      0%{
          top: 1.5rem;
          transform: rotate(135deg);
      }
      50%{
          top: 1.5rem;
          transform: rotate(0deg);
      }
  }



/* SERVICES */

.services {
    background-color: #475a85;
    color: #fff;
}

.section__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services__header{
    color: #fff;
}

.header__heading {
    font-size: 3rem;
    padding-top: 7rem;
}

.header__subheading {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
}

.separator {
    margin-top: .5rem;
    position: relative;
    height: 1.5px;
    width: 20vw;
}

.separator--white::after {
    content: "";
    position: absolute;
  transform: translateY(-50%);
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%
}

.separator--white::before {
    content: "";
    position: absolute;
  transform: translateY(-50%);
    right: 0;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%
}

.separator--white {
    background-color: #fff;
}


.services__list {
    margin-top: 8rem;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: baseline; */
}

.servieces__list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 22rem;
}

.service-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis  : 4.5rem;
}

.service-title {
    margin-top: 3rem;
    font-size: 1.8rem;
}

.service-description {
    margin-top: 2rem;
    font-size: 1.4rem;
    margin-bottom: 5rem;
    text-align: center;
}

.btn--services {
    padding: 1.3rem 3rem;
    font-size: 1.1rem;
    margin-bottom: 11rem;
}

/* MIDDLE-BOX */

.middle-box {
    min-height: 42.5rem;
    background-image: url("./img/pattern-parallax.png"), url("./img/img-parallax.png") ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff
}

.middle-box__heading {
    font-size: 4.8rem;
}

.middle-box__subheading {
    font-size: 2.4rem;
}

/* PORTFOLIO */

.portfolio__header {
    color: #000;
}

.separator--black {
    background-color: #000;
}

.separator--black::after {
    content: "";
    position: absolute;
  transform: translateY(-50%);
    left: 0;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%
}

.separator--black::before {
    content: "";
    position: absolute;
  transform: translateY(-50%);
    right: 0;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%
}

.portfolio-filter {
    margin-top: 9rem;
    text-align: center;
    font-size: 1.5rem;
}

.button-filter {
    padding: 0 .5rem;
}

.projects-container {
width: 100%;
    margin-top: 5rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 7rem;
}

.project-item {
    height: 35rem;
    width: 45rem;
   margin: 0 3rem 4rem 0;
   background-size: cover;
}

.item--1 {
    background-image: url("./img/image1.jpg");
}

.item--2 {
    background-image: url("./img/image2.jpg");
}

.item--3 {
    background-image: url("./img/image3.jpg");
}

.item--4 {
    background-image: url("./img/image4.jpg");
}

.item--5 {
    background-image: url("./img/image5.jpg");
}

.item--6 {
    background-image: url("./img/image6.jpg");
}
.hover-content {
    text-align: center;
    color: #fff;
    height: 100%;
    clip-path: circle(0 at 50% 0);
    transition: background-color 500ms ease-in-out, clip-path 500ms ease-in-out;
}

.project-item__heading {
    font-size: 2.4rem;
    padding-top: 7.5rem;
}

.project-item__description {
    margin: 3rem 5rem;
    font-size:  1.4rem;
}

.project-item:hover .hover-content {
    clip-path: circle(90%);
    background-color: #506083;
}

.browse {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
}

.browse__button img {
    padding: 1rem;
    transition: .2s;
}

.browse__button img:hover {
    transform: translateY(.5rem);
    opacity: .8;
}

/* TESTIMONIALS */

.quote-container {
    display: flex;
    justify-content: space-between;
    padding: 6rem 10%;
}

.face-img {
    min-height: 28rem;
    min-width: 28rem;
    padding: 0;
    background-image: url("./img/face.jpg");
    background-size: cover;
    background-position-x: -5rem;
    border-radius: 50%;
    border: 6px solid #ebebeb;
    margin: 0 8rem 0 4rem;
}

.quote {
    font-size: 1.8rem;
    /* flex-basis: 70%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quotation {
    position: absolute;
    top: 0;
    left: -4rem;
    font-size: 4rem;
    font-weight: 700;
    font-family: serif;
    letter-spacing: 1px ;
    transform: rotate(180deg);
}

.quote-text {
    font-style: italic;
    position: relative;
}

.author {
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 3.5rem;
}

.slider-dots {
    text-align: center;
    margin-bottom: 10rem;
}

.slider-dot {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #7b7b7b;
    border-radius: 50%;
    margin: 0 .6rem;
}

.slider-dot:hover {
    background-color: #323232;
}

.slider-dot.active {
    background-color: #323232;
}

/* MAP */

.map-container {
    width: 100%;
    height: 51rem;
}

.map {
    width: 100%;
    height: 100%;
}

/* CONTACT */

.contact {
    background-color: #475a85;
    color: white;
    font-size: 1.8rem;
}

.contact-container {
    padding: 7rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.address-container {
    width: 50%;
}
.hours {
    font-weight: 700;
    line-height: 4rem;
}

.lpm {
    margin-top:2rem;
    margin-bottom: 6rem
}

.contact-info {
    line-height: 4rem;
}

.contact-info p {
    display: inline-block;
    margin-left: 1rem;
}

.social-media {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: #c0c0c0;
    position: relative;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}

.social-media:hover {
    background-color: #fff;
}


i.fa {
    color: #475a85;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.form-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 47%;
}

.input, .textarea {
    border-radius: .5rem;
    border-style: none;
    font-family: inherit;
    font-size: inherit;
}

.input {
    flex-basis: 48.5%;
    /* flex-grow: 1; */
    height: 6rem;
    padding-left: 1rem;
}

.textarea {
    flex-basis: 100%;
    height: 16rem;
    margin: 3% 0;
    padding: 1rem;
}

.btn--send {
    flex-basis: 16rem;
    height: 6rem;
    border-style: none;
}

.btn--send:focus, .input:focus, .textarea:focus {
    outline: none;
}

/* FOOTER  */

.footer {
    height: 17.5rem;
    background-color: #161828;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer__paragraph {
    opacity: .5;
    line-height: 5rem;
}

.go-top {
    position: absolute;
    bottom: 21.5rem; 
    right: 7rem;
    height: 6rem;
    width: 6rem;
    border-radius: .5rem;
    background-color: #c2c2c2;
    background-image: url("./img/arrow2.png");
    background-repeat: no-repeat;
    background-position: 50%;
    transition: .3s;
}

.go-top:hover{
    background-color: #dbdbdb;
    background-position-y: 70%;
}

@media (max-width: 1300px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 1000px) {
    .input {
        flex-basis: 52%;
        flex-grow: 1;
    }

    .name {
        margin-bottom: 3%;
    }
    
}


@media (max-width: 800px) {
    .navbar__navigation-bar {
        position: absolute;
        left: -300px;
        top: 0;
        width: 300px;
        background-color: white;

        height: 100vh;
        transition: 0.5s linear;
        }

        .navbar__navigation-bar ul {
            height: 100vh;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

    ul li a{
        color: black;
        font-size: 4rem;
        line-height: 5rem;
        align-self: center;
    }

    .btn-menu{
        display: block;
    }

    .hero {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        /* width: 100; */
        background-position: 12rem 3.5rem;
    }

    .hero__content {
        order: 1;
        margin-top: 3rem;
        align-self: center;
    }

    .hero__image-container {
        margin-top: 15%;
        align-self: center;
    }

    .hero__image-container img {
        max-height: 50vh;
        max-width: 69vh;
    }

    .hero__content__heading {
        margin-bottom: 3rem;
    }

    .hero__content__subheading {
        margin-bottom: 5rem;    
    }

    .services__list {
        justify-content: center;
    }

    .quote-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6rem 15%;
    }

    .quote {
        margin-top: 3rem;
    }

    .face-img {
        margin: 0;
    } 

    .contact-container {
        flex-direction: column;
    }

    .address-container {
        width: 100%;
        margin-bottom: 6rem;
    }

    .form-container {
        width: 100%;
    }
}


@media (max-width: 375px) { 
    .btn-menu{
        width: 4rem;
        height:3rem;

    }
    .layer{
        width: 4rem;
        height: .5rem;
        margin-bottom: 0.4rem;
    }

}